@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-Poppins scroll-smooth;
}

body {
  @apply box-border bg-gray-900 text-gray-100;
}

.btn-primary {
  @apply bg-cyan-600 font-semibold text-white rounded-full hover:bg-cyan-700 transition-all duration-200 active:bg-cyan-500 py-3 px-6 flex items-center gap-2;
}

.swiper-pagination-bullet {
  @apply bg-white translate-y-3;
}

input,
textarea {
  @apply bg-gray-700 outline-none rounded-lg p-3;
}
::placeholder {
  @apply text-lg;
}

::selection {
  @apply bg-cyan-600;
}

.buttons {
  display: flex;
  gap: 0.75rem;
}
.buttons a {
  @apply text-cyan-600 bg-gray-900 py-1 px-2 inline-block rounded-[4px];
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(8 145 178) 0%, white 100%);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader span {
  content: "";
  position: absolute;
  width: 95%;
  height: 95%;
  background: linear-gradient(0deg, rgb(8 145 178) 0%, white 100%);
  border-radius: 50%;
  filter: blur(4px);
  animation: spin 1s linear infinite;
}

.loader::after {
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  background-color: rgb(17 24 39);
  border-radius: 50%;
}

@media (min-width: 450px){
  .loader {
    width: 80px;
    height: 80px;
  }

  .loader span {
    filter: blur(6px);
  }
}
@media (min-width: 750px) {
  .loader {
    width: 100px;
    height: 100px;
  }

  .loader span {
    filter: blur(8px);
  }
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.links {
  position: relative;
  display: flex;
  justify-content: center;
}

.links::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: linear-gradient(to right, rgb(8 145 178) 0%, white 50%, rgb(8 145 178) 100%);
  border-radius: 5px;
  bottom: 2px;
  filter: blur(1px);
  transition: width .2s ease-in-out;
}

.links:hover::before {
  width: 110%;
  animation: pulse .2s ease-in-out;
}

@keyframes pulse {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
  
}